.bg-dark{
    background-color: rgba(6, 6, 65, 0.993);
}

.white{
    color: white;
}

.flex{
    display: flex;
  
}

.center{
        align-items: center;
    }

.content{
    flex-direction: column;
}


.card-items{
    flex-wrap: wrap;
    min-width:500px;
    width: 30%;
}