* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cards{
    display: flex
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    background-color: black;
    height: 80px;
    width: 30%;
}

.info{
    color: white;
    margin-left: 10px;
}