* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cards{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.cards{
    display: flex;
    background-color: black;
    height: 80px;
    width: 25%;
    margin: 20px;
    align-items: center;
    min-width: 300px;
}

.info{
    color: white;
    margin-left: 10px;
}